@import 'table-extensions';

:root {
    display: block;
    flex: 1 1 0;
    min-width: 0;
    width: 100%;
}

.full-width {
    width: 100%;
}

.selected {
    background-color: var(--table-row-hover-bg);
}