.mat-column-name {
    min-width: 12rem;
}

.mat-column-description {
    min-width: 20rem;
}

.mat-column-permissions {
    text-wrap: revert;
    min-width: 15rem;

    .status-badge {
        margin: 2px;
        background-color: var(--menu-active-bg);
        color: var(--toolbar-active-text);

        &.special {
            background-color: var(--btn-danger-hover);
        }
    }
}

@media (max-width: 599.98px) {
    .mat-column-name {
        min-width: 6rem;
    }

    .mat-column-description {
        min-width: 8rem;
        max-width: 15rem;
    }
}