:host {
    display: flex;
    flex-direction: column;
    //height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.section-divider {
    margin: 12px 0;
}

.mat-mdc-form-field {
    &.serverAddress {
        min-width: 15rem;
    }

    &.responseDate {
        min-width: 20rem;
    }
}