<div class="editor-container" *ngIf="organizationData()">
    <form [formGroup]="form" class="editor-form">
        <div class="form-row">
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Краткое название</mat-label>
                <input matInput formControlName="shortName" (change)="$event.stopPropagation()">
            </mat-form-field>
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Полное название</mat-label>
                <input matInput formControlName="fullName" (change)="$event.stopPropagation()">
            </mat-form-field>
        </div>
        <div class="form-row">
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>ID</mat-label>
                <input matInput formControlName="id" readonly>
            </mat-form-field>
            <div class="action-button-group">
                <button mat-raised-button class="table-action-btn btn-success" (click)="callAddUser()"
                    [disabled]="!canAddUserState()">
                    <mat-icon>add</mat-icon><span class="hide-on-small">Добавить</span>
                </button>
                <button mat-raised-button class="table-action-btn btn-danger" (click)="callDeleteUser()"
                    [disabled]="!selectedUser()">
                    <mat-icon>delete</mat-icon><span class="hide-on-small">Удалить</span>
                </button>
            </div>
        </div>
        @if (!loading()) {
        <div class="form-row">
            <app-organization-user-list [usersData]="usersData()" [users]="users()" (onSelect)="onSelectUser($event)"
                (canAddChanged)="onCanAddChange($event)" (newData)="onUserListChange($event)"
                class="full-width"></app-organization-user-list>
        </div>
        }
    </form>
</div>