.mat-column-username {
    min-width: 15rem;
}

.mat-column-displayName {
    min-width: 25rem;
}

.mat-column-active {
    min-width: none;
}

.mat-column-approved {
    min-width: none;
}

.mat-column-rolesWithInfo {
    text-wrap: revert;
    min-width: 15rem;

    .status-badge {
        margin: 2px;
        background-color: var(--menu-active-bg);
        color: var(--toolbar-active-text);

    }
}

@media (max-width: 599.98px) {
    .mat-column-username {
        min-width: 8rem;
    }

    .mat-column-displayName {
        min-width: 12rem;
        max-width: 20rem;
        text-wrap: unset !important;
    }

    .mat-column-active {
        max-width: 5rem;
    }

    .mat-column-approved {
        max-width: 6rem;
    }


}