:host {
    display: block;
    width: 100%;
}

.mat-column-id {
    min-width: 6rem;
    max-width: 10rem;
}

.category-list-actions {
    display: flex;
    justify-content: flex-end;
    padding: 4px 0 8px 0;
    flex-shrink: 0;

    .spacer {
        flex: 1;
    }
}