<div class="standard-table-container">
    <mat-card>
        <!-- Кнопка "Получить из CRM" -->
        <mat-card-actions class="category-list-actions">
            <span class="spacer"></span>
            <div class="action-button-group">
                <button mat-raised-button [color]="hasNoCategories() ? 'primary' : ''"
                    [ngClass]="hasNoCategories() ? '' : 'btn-gray'" class="table-action-btn"
                    [disabled]="!canLoadFromCrm()" (click)="onLoadFromCrm()">
                    <mat-icon>cloud_download</mat-icon>
                    <span>Получить из CRM</span>
                </button>
            </div>
        </mat-card-actions>

        <mat-card-content class="inner-table">
            @if (loadingCategories()) {
            <div class="table-overlay">
                <div class="loading-spinner">
                    <mat-spinner diameter="40"></mat-spinner>
                    <p>Загрузка данных...</p>
                </div>
            </div>
            }
            @if (dataSource.data.length === 0) {
            <div class="empty-state inner-table">
                <mat-icon>info</mat-icon>
                <p>Категории услуг не найдены</p>
            </div>
            }

            <div class="table-wrapper sticky-header-table nowrap-table filtered-table" #tableWrapper
                [style.display]="dataSource.data.length === 0 ? 'none' : ''">
                <table mat-table [dataSource]="dataSource" [trackBy]="trackById" class="mat-elevation-z0" matSort>

                    <ng-container matColumnDef="expand">
                        <th mat-header-cell *matHeaderCellDef>
                            <button mat-icon-button (click)="toggleFilter()" matTooltip="Фильтр">
                                <mat-icon>filter_list</mat-icon>
                            </button>
                        </th>
                        <td mat-cell *matCellDef="let row">
                            <mat-checkbox [checked]="row.selected" (change)="onSelectedChange(row, $event.checked)"
                                (click)="$event.stopPropagation()">
                            </mat-checkbox>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef>
                            <sc-filter-root key="name" label="Наименование" [showFilter]="showFilter()" [sort]="true"
                                [config]="filterConfig().get('name')!"
                                (change)="onFilterChange($event)"></sc-filter-root>
                        </th>
                        <td mat-cell *matCellDef="let row">{{ row.name }}</td>
                    </ng-container>

                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef>
                            <sc-filter-root key="id" label="Id" [showFilter]="showFilter()" [sort]="true"
                                [config]="filterConfig().get('id')!" (change)="onFilterChange($event)"></sc-filter-root>
                        </th>
                        <td mat-cell *matCellDef="let row">{{ row.id }}</td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="simple-row"
                        [attr.data-id]="row.id"></tr>

                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" [attr.colspan]="displayedColumns.length">
                            <div class="empty-state">
                                <mat-icon>info</mat-icon>
                                <p>Категории не найдены</p>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </mat-card-content>
    </mat-card>
</div>