@use 'theme-variables' as vars;

:host {
    display: block;
    height: 100%;
    overflow: auto; 
    padding: 1rem;
    background: vars.$bg-color;
    box-sizing: border-box;
}

// Стилизация скроллбара
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: vars.$scrollbar-track-color;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background: vars.$scrollbar-thumb-color;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: vars.$scrollbar-thumb-hover-color;
}